apps/tensorflow-serving/model/distilbert/1/saved_model/1/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
apps/tensorflow-serving/model/distilbert/1/tf_model.h5 filter=lfs diff=lfs merge=lfs -text
